<div class="container-fluid">
    <div class="row acercade">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/profilephoto.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombreapellido">
            <p >{{persona.nombre}}&nbsp;{{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
        </div>        
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 acercade2">
            <span>
                <h1>Acerca de mi</h1>
                <p>Ingeniero Mec&aacute;nico, realizando un cambio de carrera para entrar en el mundo del IT. 
                    Enfocado en adquirir conocimientos nuevos que me ayuden a desenvolverme de manera &eacute;xitosa en 
                    esta nueva etapa de mi vida. 
                    Apasionado por la codificacion y por siempre encarar los nuevos retos con la mejor actitud.
                </p>
            </span>
        </div>
    </div>
</div>
