<!--
  <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div class="form-outline form-white mb-4">
                  <input type="user" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required/>
                  <label class="form-label" for="password">Password</label>
                </div>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                
              </form>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (ngSubmit)="onLogin()" novalidate #f="ngForm">

              <div class="divider d-flex align-items-center my-4">
              <p class=""></p>
              </div>
  
              <!-- Nombre de la Hard o Soft Skill input -->
              <div class="form-outline mb-4 row-2 form-group">
                  <label class="form-label" for="nombreS">Nombre de Usuario</label>
                  <input type="user" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
              </div>
  
              <!-- Descripcion de la Hard o Soft Skill input -->
              <div class="form-outline mb-3 form-group">
                  <label class="form-label" for="descripcionS">Password</label>
                  <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required/>              </div>
  
              <div class="divider d-flex align-items-center my-4">
                  <p class=""></p>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Log In</button>
              </div>
          </form>
      </div>
    </div>
  </div>
  
</section>
