<app-logo-ap></app-logo-ap>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../../assets/login.jpg" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (ngSubmit)="onLogin()" novalidate #f="ngForm">

              <div class="divider d-flex align-items-center my-4">
              <p class=""></p>
              </div>
  
              <!-- Nombre de la Hard o Soft Skill input -->
              <div class="form-outline mb-4 row-2 form-group">
                  <label class="form-label" for="nombreS">Nombre de Usuario</label>
                  <input type="user" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
              </div>
  
              <!-- Descripcion de la Hard o Soft Skill input -->
              <div class="form-outline mb-3 form-group">
                  <label class="form-label" for="descripcionS">Password</label>
                  <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required/>              </div>
  
              <div class="divider d-flex align-items-center my-4">
                  <p class=""></p>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Log In</button>
              </div>
          </form>
      </div>
    </div>
  </div>
  
</section>
<app-footer></app-footer>
