<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/profilephoto.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Luis Daniel Torres Castellano</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita omnis officia rerum consequuntur quisquam ratione laboriosam ipsam ea! Incidunt eveniet quaerat sequi cupiditate in veniam, corrupti libero fugit similique ullam.</p>
            </span>
        </div>
    </div>
</div>
