.row{
    background-color: rgb(133, 16, 16);
}

.foot{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}

.container-fluid{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}