#logoAP {
    width: 150px;
}
img{
    width: 45px;
}

/*ICONO LOG IN & LOG OUT*/
.login.fa-right-from-bracket{
    margin-right: 10px;
    color: rgba(5,115,245,1);
    cursor: pointer;
}

.login.fa-right-from-bracket:hover{
    color: #fff;
    cursor: pointer;
    outline-color: #fff;
    outline-offset: 5px !important;
    background-color: rgba(5,115,245,1);
}

.logout.fa-right-from-bracket{
    color: rgb(201, 3, 3);
    cursor: pointer;
}

.logout.fa-right-from-bracket:hover{
    color: #fff;
    cursor: pointer;
    outline-color: #fff;
    outline-offset: 5px !important;
    background-color: rgb(201, 3, 3);
}

/*ICONOS DE REDES*/
.icons{
    display:flex;
    column-gap:25px;
    justify-items:self-end;
}
.icon{
    width:50px;
    height:50px;
    display: inline-flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-size:22px;
    color:#fff;
    border-radius:50%;
    outline:2px solid #fff;
    transition-property : outline-offset , outline-color , background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 2.5px;
}
.icon:hover i{
    animation: shake .25px;
}
.icon--instagram:hover{
    background-image: radial-gradient(circle at 30% 107% ,
    #fdf497 0%, #fdf497 5% , #fd5949 45%,
    #d6249f 60%, #285AEB 90%);
    outline-color:#a02d76;
}
.icon--github:hover{
    background-color:#000000;
    outline-color: #000000;
}
.icon--linkedin:hover{
    background-color:#0077b5;
    outline-color: #0077b5;
}

@keyframes shake{
    10%{transform:rotate(-15deg);}
    20%{transform:rotate(-15deg);}
    30%{transform:rotate(-15deg);}
    40%{transform:rotate(-15deg);}
}


/*Para la vista de telefono*/
@media (max-width: 575px){

    .container{
        flex-direction: column;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes img{
        margin: 0.2em;
    }
}