body{
    background: rgb(178,232,24);
    background: linear-gradient(270deg, rgba(178,232,24,1) 0%, rgba(9,121,9,0.9752275910364145) 35%, rgba(5,115,245,1) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*{
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}