<app-logo-ap></app-logo-ap>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../assets/educacion.jpg" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
  
                <div class="divider d-flex align-items-center my-4">
                <p class=""></p>
                </div>
    
                <!-- Nombre Institucion input -->
                <div class="form-outline mb-4 row-2 form-group">
                    <label class="form-label" for="nombreE">Nombre de la Institucion</label>
                    <input type="text" class="form-control" id="nombreE" [(ngModel)]="nombreE" name="nombreE" required>
                </div>
    
                <!-- Descripcion Educacion input -->
                <div class="form-outline mb-3 form-group">
                    <label class="form-label" for="descripcionE">Descripcion de la Institucion</label>
                    <textarea type="text" class="form-control" cols="30" rows="6" id="descripcionE" [(ngModel)]="descripcionE" name="descripcionE" required></textarea>
                </div>
    
                <div class="divider d-flex align-items-center my-4">
                    <p class=""></p>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                <button class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Guardar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>