<!--
    <div class="container-fluid">
    <div class="row">
        <footer id="foot">
            <p>Luis Daniel Torres C | © Argentina Programa 2022</p>
            <p>Buenos Aires, Argentina</p>
        </footer>
    </div>
</div>
-->

<footer class="text-center">
    <div class="container pt-0">
        <section class="icono">
            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark instagram" href="https://www.instagram.com/luisdatc/" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark github" href="https://github.com/luisdatc" role="button"data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark link" href="https://www.linkedin.com/in/luis-daniel-torres-castellano/" role="button"data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        </section>
    </div>
    <div class="text-center p-2">
      © 2020 Copyright:
      <a class="" href="https://github.com/luisdatc">Luis Daniel Torres</a>
    </div>
  </footer>
